/TP2/VIRUSZ/*.depend
/TP2/VIRUSZ/bin
/TP2/VIRUSZ/obj
/TP1/bin
/TP1/obj
/TP1/TP1.layout
/TP1/TP1.depend
/TP2/VIRUSZ/VIRUSZ.layout
/TP2/VIRUSZ/a.out
/TP3/bin
/TP3/obj
/TP3/tpNanobot/bin
/TP3/tpNanobot/obj
/TP3/tp3.layout
/TP3/tp3.depend
/TP3/tpNanobotWindows/tpNanobot.layout
/TP3/tpNanobot/tpNanobot.layout
/TP3/tpNanobot/tpNanobot.depend
/TP3/tpNanobotWindows/obj
/TP3/tpNanobotWindows/bin
/ordenamientos/bin
/ordenamientos/obj
/ordenamientos/a.out
/ordenamientos/ordenamientos
/ordenamientos/ordenamientos.depend
/ordenamientos/ordenamientos.layout
/ordenamientos/RadixSort/bin
/ordenamientos/RadixSort/obj
/ordenamientos/RadixSort/RadixSort.layout
/ordenamientos/RadixSort/RadixSort.depend
/TP4/*.depend
/TP4/*.layout
/TP4/bin
/TP4/obj
